<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    .foot{
        bottom: 0;
        text-align: center;
        width: 100%;
        margin-top: 10%;
        background-color: black ;
        padding: 1% 0;
    }
    .foot h4{
        color: rgb(77, 74, 243);
    }
</style>
<body>
    <div class="foot">
        <h4>@Copy Eng/Mohamed Tarek Osman</h4>
    </div>

</body>

</html>