<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    .i {
        margin-left: 5%;
        font-size: 200%;
        margin-bottom: 1%;
        color: rgb(2, 50, 56);
    }
</style>
<body>
    <h1>{{>header}}</h1>
    <h2 class="i">- Phone : {{Phone}}</h2>
    <h2 class="i">- Email : {{email}}</h2>
    <h2 class="i">- Github : {{github}}</h2>
    <h2 class="i">- facebook : {{facebook}}</h2>
    <h1>{{>footer}}</h1>
</body>

</html>