<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    .i{
        margin-left: 21%;
        font-size: 200%;
        margin-bottom: 1%;
        color: rgb(2, 50, 56);
    }
</style>
<body>
    <h1>{{>header}}</h1>
    <img src={{imagePath}}>
    <h2 class="i">Name : {{name}}</h2>
    <h2 class="i">Age : {{age}}</h2>
    <h2 class="i">City : {{city}}</h2>
    <h1>{{>footer}}</h1>
</body>
</html>